# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# Fichiers avec informations sensibles de la BD
DEPLOYMENT.md
GUIDE-COMPLET.md
scripts/migrate-to-aiven.js
scripts/test-both-dbs.js
test-aiven-connection.js
check-aiven-structure.js
scripts/import-to-aiven.js
scripts/fix-aiven-tables.js
scripts/check-aiven-structure.js
scripts/create-tables-simple.js
scripts/init-aiven-database.js
scripts/verify-deployment.js

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
