-- Script pour supprimer le support GIF
-- Supprimer l'ancienne contrainte
ALTER TABLE ImageCouverture DROP CONSTRAINT IF EXISTS chk_type_mime;

-- Ajouter la nouvelle contrainte sans GIF
ALTER TABLE ImageCouverture 
ADD CONSTRAINT chk_type_mime 
CHECK (type_mime IN ('image/jpeg', 'image/jpg', 'image/png', 'image/webp', 'image/svg+xml'));
